name: CI

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "^1.25"

      - uses: sqlc-dev/setup-sqlc@v3
        with:
          sqlc-version: "1.26.0"

      - name: Install dependencies
        run: make install-dependencies

      - name: Run tests
        run: make test

  docker:
    name: Build and publish image
    runs-on: ubuntu-latest
    needs: tests
    env:
      APP: letter-bot
      REGISTRY: marahin
      TAG: ${{ github.sha }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Docker image
        run: REGISTRY=${{ env.REGISTRY }} APP=${{ env.APP }} TAG=${{ env.TAG }} make docker

      - name: Log in to Docker Hub
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: REGISTRY=${{ env.REGISTRY }} APP=${{ env.APP }} TAG=${{ env.TAG }} make push-to-registry
